.card {
    width: 100%;
    max-width: 450px;
    padding: 25px 20px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid grey;
    box-shadow: black 5px 5px 12px; 
    border-radius: 20px;
}
.profile-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
h2{
    margin: 12px 0;
    font-size: 30px;
}
.title{
    font-size: 15px;
}
.qoute{
    font-style: italic;
    color: rgb(37, 188, 226);
    font-size: 22px;
}
.whatsapp-btn{
    background-color: orange;
    color: black;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 13px;
    font-size: larger;
    margin: 15px;
    box-shadow: 0px 0px 6px;
}
body{
    height: 97.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.pinimg.com/736x/8f/85/4e/8f854e4b78ecc4c356b0ae6f940e796d.jpg") no-repeat center;
    backdrop-filter: blur(7px);
}